---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import certificate from '~/assets/images/certificate-accolade.jpg';
import Image from '~/components/common/Image.astro';

const fetivalTitle = 'Accolade Global Film Competition';

const metadata = {
  title: fetivalTitle
};
---

<Layout metadata={metadata}>
  <Hero tagline={fetivalTitle}>
    <Fragment slot="title">Winner</Fragment>

    <Fragment slot="content">
      <p>Award of Recognition: Documentary Short</p>
      <p>Award of Recognition: Women Filmmakers</p>
      <p>Award of Merit: Editing</p>
    </Fragment>

    <Fragment slot="image">
      <div class="relative">
        <Image src={certificate} alt=`${fetivalTitle}: Certificate` width={566} height={800} />
      </div>
    </Fragment>
  </Hero>
</Layout>
