---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import certificate from '~/assets/images/certificate-best-shorts-filmmaker.jpg';
import Image from '~/components/common/Image.astro';

const fetivalTitle = 'Best Shorts Competition';

const metadata = {
  title: fetivalTitle
};
---

<Layout metadata={metadata}>
  <Hero tagline={fetivalTitle}>
    <Fragment slot="title">Women Filmmaker</Fragment>

    <Fragment slot="image">
      <div class="relative">
        <Image src={certificate} alt=`${fetivalTitle}: Certificate` width={600} height={465} />
      </div>
    </Fragment>
  </Hero>
</Layout>
