---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import certificate from '~/assets/images/certificate-cannes-2.jpg';
import Image from '~/components/common/Image.astro';

const fetivalTitle = 'World Film Festival in Cannes';

const metadata = {
  title: fetivalTitle,
};
---

<Layout metadata={metadata}>
  <Hero tagline={fetivalTitle}>
    <Fragment slot="title">Best Inspirational Film</Fragment>

    <Fragment slot="image">
      <div class="relative">
        <Image src={certificate} alt=`${fetivalTitle}: Certificate` width={900} height={600} />
      </div>
    </Fragment>
  </Hero>
</Layout>
