---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import certificate from '~/assets/images/certificate-dubai-documentary.jpg';
import Image from '~/components/common/Image.astro';

const fetivalTitle = 'Dubai International Cine Carnival';

const metadata = {
  title: fetivalTitle,
};
---

<Layout metadata={metadata}>
  <Hero tagline={fetivalTitle}>
    <Fragment slot="title">Documentary Film</Fragment>

    <Fragment slot="image">
      <div class="relative">
        <Image src={certificate} alt=`${fetivalTitle}: Certificate` width={780} height={600} />
      </div>
    </Fragment>
  </Hero>
</Layout>
