---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import certificate from '~/assets/images/certificate-hong-kong.jpg';
import Image from '~/components/common/Image.astro';

const fetivalTitle = 'Hong Kong International Film Carnival';

const metadata = {
  title: fetivalTitle,
};
---

<Layout metadata={metadata}>
  <Hero tagline={fetivalTitle}>
    <Fragment slot="title">Winner</Fragment>

    <Fragment slot="image">
      <div class="relative">
        <Image src={certificate} alt=`${fetivalTitle}: Certificate` width={760} height={550} />
      </div>
    </Fragment>

    <Fragment slot="subtitle">
      "As the respected Jury Member of Hong Kong International Film Carnival officially declared your project as
      the WINNER of HKIFC , we take the pleasure to Congratulate you and your entire team. You must know that the
      journey from official selection to award winner among so many deserving projects was not at all easy. You achieved
      it! " - Director, Hong Kong International Film Carnival
    </Fragment>
  </Hero>
</Layout>
