---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import certificate from '~/assets/images/certificate-korea.jpg';
import Image from '~/components/common/Image.astro';

const fetivalTitle = 'Korea International Short Film Festival';

const metadata = {
  title: fetivalTitle,
};
---

<Layout metadata={metadata}>
  <Hero tagline={fetivalTitle}>
    <Fragment slot="title">Best Sound Design</Fragment>

    <Fragment slot="image">
      <div class="relative">
        <Image src={certificate} alt=`${fetivalTitle}: Certificate` width={760} height={550} />
      </div>
    </Fragment>
  </Hero>
</Layout>
