---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import certificate from '~/assets/images/certificate-paris-cine.jpg';
import Image from '~/components/common/Image.astro';

const fetivalTitle = 'Paris Cine Fiesta';

const metadata = {
  title: fetivalTitle,
};
---

<Layout metadata={metadata}>
  <Hero tagline={fetivalTitle}>
    <Fragment slot="title">Winner</Fragment>

    <Fragment slot="image">
      <div class="relative">
        <Image src={certificate} alt=`${fetivalTitle}: Certificate` width={550} height={760} />
      </div>
    </Fragment>

    <Fragment slot="subtitle">
      "Congratulations for being the Winner at Paris Cine Fiesta ! Your work has made a mark among hundreds of
      submissions. Your true potential is judged by our jury members with extreme love and care. Your film is now
      officially nominated for the Annual Gala" - Director, Paris Cine Fiesta
    </Fragment>
  </Hero>
</Layout>
