---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Brands from '~/components/widgets/Brands.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Image from '~/components/common/Image.astro';
import gregPosterImg from '~/assets/images/greg-web-poster.jpg';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Greg: The Secret to My Success',
};

const watchOnYoutube = {
  target: '_blank',
  text: 'Watch on Youtube',
  href: 'https://www.youtube.com/watch?v=9Qw7Q0jZQqo',
  variant: 'primary',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="A film by marina hitt"
    actions={[
      // watchOnYoutube
    ]}
  >
    <Fragment slot="title">Greg: The Secret to My Success</Fragment>

    <Fragment slot="subtitle">
      <div>From $70 and a Dream to a Glass Empire: The Inspiring Journey of a Soviet Immigrant.</div>
      <div class="mt-6 text-sm">
        2023 | <span class="border p-0.5">G – General Audiences</span> | 34m | Documentary
      </div>
    </Fragment>

    <Fragment slot="image">
      <div class="relative">
        <Image src={gregPosterImg} alt="Greg: The Secret to My Success" width={550} height={760} />
      </div>
    </Fragment>
  </Hero>

  <Features2
    title="About the film"
    subtitle='A film by producer and director Marina Hitt tells the story of a Soviet immigrant who arrived in the USA in the late 70s with an infant in arms and 70 dollars to his name. Years later, thanks to the support of his wife, he earned a multi-million dollar fortune and created a "glass" empire that services the skyscrapers of Manhattan.'
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-gray-900"></div>
    </Fragment>

    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/ZX6vL6Zfm0g?si=ziadqXKjFj470bJB"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
  </Features2>

  <Brands
    title="Recognition & Awards"
    subtitle="Our documentary has garnered critical acclaim, highlighting its impact and excellence in the world of documentary filmmaking. This reflects our commitment to bringing compelling and thought-provoking stories to the screen. Film festival honors and awards, each accolade serves as a testament to the hard work, creativity, and passion that went into crafting Greg: The Secret to My Success."
    icons={[]}
    images={[
      {
        src: 'img/festival-01.png',
        alt: 'THE GREAT BRITAIN SILVER SCREEN AWARDS',
      },
      {
        src: 'img/festival-02.png',
        alt: 'KOREA INTERNATIONAL SHORT FILM FESTIVAL',
      },
      {
        src: 'img/festival-03.png',
        alt: 'PARIS CINE FIESTA',
      },

      {
        src: 'img/festival-04.png',
        alt: 'Crown Point International Film Festival',
      },
      {
        src: 'img/festival-05.png',
        alt: 'Dubai International Cine Carnival',
      },
      {
        src: 'img/festival-06.png',
        alt: 'HONG KONG INTERNATIONAL FILM CARNIVAL',
      },
      {
        src: 'img/festival-07.png',
        alt: 'Navy international film festival',
      },
      {
        src: 'img/festival-08.png',
        alt: 'Cannes World Film Festival',
      },
      {
        src: 'img/festival-09.png',
        alt: 'Oniros Film Awards® - New York',
      },
      {
        src: 'img/festival-10.png',
        alt: 'Himachal Short Film Festival',
      },
      {
        src: 'img/festival-11.png',
        alt: 'Alibag Short Film Festival',
      },
    ]}
  />

  <Features2
    title="Celebrating Excellence in Storytelling"
    subtitle="List of global film festival certificates awarded to Greg: The Secret to My Success"
    tagline="Certificates"
    items={[
      {
        title: 'Documentary Film',
        description: 'Paris Cine Fiesta',
        icon: 'flat-color-icons:camcorder-pro',
        link: '/festival/paris-cine-fiesta',
      },
      {
        title: 'Best Director',
        description: 'Crown Point International Film Festival',
        icon: 'flat-color-icons:film-reel',
        link: '/festival/crown-point-international-film-festival',
      },
      {
        title: 'Documentary Film',
        description: 'Hong Kong International Film Carnival',
        icon: 'flat-color-icons:camcorder-pro',
        link: '/festival/hong-kong',
      },

      {
        title: 'Best Director',
        description: 'Great Britain Silver Screen Awards',
        icon: 'flat-color-icons:film-reel',
        link: '/festival/silver-screen-awards-director',
      },
      {
        title: 'Documentary Film',
        description: 'Great Britain Silver Screen Awards',
        icon: 'flat-color-icons:camcorder-pro',
        link: '/festival/silver-screen-awards-winner',
      },
      {
        title: 'Best Sound Design',
        description: 'Korea International Short Film Festival',
        icon: 'flat-color-icons:advertising',
        link: '/festival/korea-international-short-film-festival',
      },
      {
        title: 'Documentary Film',
        description: 'Dubai International Cine Carnival',
        icon: 'flat-color-icons:camcorder-pro',
        link: '/festival/dubai-winner',
      },
      {
        title: 'Best Director',
        description: 'Dubai International Cine Carnival',
        icon: 'flat-color-icons:film-reel',
        link: '/festival/dubai-director',
      },
      {
        title: 'Documentary Film',
        description: 'Navy International Film Festival',
        icon: 'flat-color-icons:camcorder-pro',
        link: '/festival/navy',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Features3
    title="Credentials"
    subtitle="Meet the masterminds behind Greg: The Secret to My Success"
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Writer & Director',
        description: 'Marina Hitt',
      },
      {
        title: 'Screenwriter',
        description: 'Marina Hitt',
      },
      {
        title: 'Editor',
        description: 'Nick Logaiski',
      },
      {
        title: 'Producer',
        description: 'Marina Tomchinsky',
      },
      {
        title: 'Camera Operators',
        description: 'Nick Logaiski, Michael Gogidze, Vladislav Kovalev',
      },
      {
        title: 'Actor',
        description: 'Vladimir Starostin',
      },
      {
        title: 'Narrator',
        description: 'Dmitry Talypov',
      },
      {
        title: 'Videos and Photographs',
        description: 'Taken from the persnal archivs of M. Tomchinsky, Marina Hitt, and Tatyana Bulanova',
      },
      {
        title: 'Music',
        description: '“So. the Days Flow By”: written by G. Zarenkova and M. Krylov. Performed by Tatiana Bulanova',
      },
    ]}
  />

  <Features2
    title="We’re here to help"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Marina Hitt',
        description: 'marina@hittpr.com',
        icon: 'tabler:mail',
        link: 'mailto:marina@hittpr.com',
      },
      {
        title: 'HITT PR',
        description: 'hittpr.com',
        icon: 'tabler:globe',
        link: 'https://hittpr.com',
      },
    ]}
  />
</Layout>
